<!DOCTYPE html>
<html>

<head>
  <title>Welcome to Image Search Abstraction Layer!</title>
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
    <h1>
        Image Search Abstraction Layer
      </h1>
  </header>
  <main>
    <p class="bold">
      User stories
    </p>
    <ul>
      <li>
        <p>
          I can get the image URLs, alt text and page urls for a set of images relating to my search string.
        </p>
        <p>Example: <span class="blue">https://jazzy-xylophone.glitch.me/image/cute cats</span></p>
      </li>
      <li>
        <p>
          I can paginate through the responses by adding a ?offset=5 parameter to the URL.
        </p>
        <p>Example: <span class="blue">https://jazzy-xylophone.glitch.me/image/cute%20cats?offset=5</span></p>
      </li>
      <li>
        <p>
          I can get a list of the most recently submitted search strings.
        </p>
        <p>Example: <span class="blue">https://jazzy-xylophone.glitch.me/latest</span></p>
      </li>
    </ul>
  </main>

  <footer>
    <a href="https://glitch.com">
        Remix this in Glitch
      </a>
  </footer>

  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
</body>
</html>
