* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: blue;
  margin-top: 30px;
}

.bold {
  font-weight: bold;
}

.blue {
  color: blue;
}

footer {
  margin-top: 150px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer>a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}
